# Введение в pandas

In [2]:
f = open('C:\\Users\\Konstantin\\source\\repos\\Data_Processing\\test2.txt', 'r')
g =  open('test.txt', 'r')
#g.read()
for i in g:
    print(i)
x=[]
y=[]
z=[]
for row in open('123.dat', 'r'):
    values = [int(s) for s in row.split()]
    x.append(values[0])
    y.append(values[1])
    z.append(values[2])
g.close()

1

2

3

4

5

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
mas = [i for i in range(50)]
f = open('text.txt', 'w')
for item in mas:
    f.write(str(item) + '\n')
f.close()

Библиотека pandas содержит высокоуровневые структуры данных и средства манипуляции ими,
спроектированные так, чтобы обеспечить простоту и высокую скорость анализа данных на Python. Эта библиотека построена поверх NumPy, поэтому ей легко пользоваться в приложениях, ориентированных на NumPy.

In [6]:
import pandas as pd

In [7]:
from pandas import Series, DataFrame

Таким образом, увидев в коде строку pd., знайте, что это ссылка на pandas. Объекты Series и DataFrame используются так часто, что полезно импортировать их в локальное пространство имен.
Чтобы начать работу с pandas, необходимо освоить две основные структуры данных: Series и DataFrame. Они, конечно, не являются универсальным решением любой задачи, но все же образуют основу большинства приложений.

### Объект Series

Series – одномерный объект - контейнер, содержащий набор данных (любого типа, поддерживаемого NumPy) и ассоциированный с ним массив меток,
который называется индексом. Простейший объект Series состоит только из массива данных:

In [8]:
obj = pd.Series([4, 7, -5, 3])
print(obj)

0    4
1    7
2   -5
3    3
dtype: int64

В строковом представлении Series, отображаемом в интерактивном режиме, индекс находится слева, а значения справа. Поскольку мы не задали индекс для данных, то по умолчанию создается индекс, состоящий из целых чисел от 0 до N – 1
(где N – длина массива данных). Имея объект Series, получить представление самого массива и его индекса можно с помощью атрибутов values и index соответственно:

In [9]:
print(obj.values)
print(obj.index)

[ 4  7 -5  3]
RangeIndex(start=0, stop=4, step=1)

Индекс объекта Series также можно изменить на месте с помощью присваивания.

In [10]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
print(obj)

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

Часто желательно создавать объект Series с осмысленными индексами, идентифицирующими каждый элемент данных

In [11]:
obj2 = pd.Series([4, 7, -5, 3], index=['four', 'seven', 'minus five', 'three'])
print(obj2)
print(obj2.index)

four          4
seven         7
minus five   -5
three         3
dtype: int64
Index(['four', 'seven', 'minus five', 'three'], dtype='object')

В отличие от обычного массива NumPy, для выборки одного или нескольких
элементов из объекта Series можно использовать значения индекса:

In [12]:
print(obj2['seven'])
print(obj2[['seven', 'four', 'minus five']])

7
seven         7
four          4
minus five   -5
dtype: int64

Операции с массивом NumPy, например фильтрация с помощью булева массива, скалярное умножение или применение математических функций, сохраняют связь между индексом и значением:

In [13]:
import numpy as np
print(obj2[obj2 > 0], '\n') # фильтрация 

print(obj2 * 2, '\n')  # скалярное умножение 

print(np.exp(obj2)) # применение функции np.exp()

four     4
seven    7
three    3
dtype: int64

four           8
seven         14
minus five   -10
three          6
dtype: int64

four            54.598150
seven         1096.633158
minus five       0.006738
three           20.085537
dtype: float64

Объект Series можно также представлять себе как упорядоченный словарь фиксированной длины, поскольку он отображает индекс на данные. Его можно передавать многим функциям, ожидающим получить словарь:

In [14]:
print('b' in obj2)
print('four' in obj2)

False
True

Если имеется словарь Python, содержащий данные, то из него можно создать
объект Series:

In [15]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
print(obj3)

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

Для распознавания отсутствующих данных в pandas следует использовать функции isnull и notnull:

In [16]:
print(pd.isnull(obj3), '\n')
print(pd.notnull(obj3))

Ohio      False
Texas     False
Oregon    False
Utah      False
dtype: bool

Ohio      True
Texas     True
Oregon    True
Utah      True
dtype: bool

И у самого объекта Series, и у его индекса имеется атрибут name, тесно связанный с другими частями функциональности pandas.

In [17]:
obj3.name = 'population'
obj3.index.name = 'state'
print(obj3)

state
Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
Name: population, dtype: int64

In [18]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
print(obj)

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

### Объект DataFrame

Объект DataFrame представляет табличную структуру данных, состоящую из
упорядоченной коллекции столбцов, причем типы значений (числовой, строковый, булев и т. д.) в разных столбцах могут различаться. В объекте DataFrame
хранятся два индекса: по строкам и по столбцам. Можно считать, что это словарь
объектов Series.
Есть много способов сконструировать объект DataFrame, один из самых распространенных – на основе словаря списков одинаковой длины или массивов NumPy

In [19]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

Для получившегося DataFrame автоматически будет построен индекс, как и в
случае Series, и столбцы расположатся по порядку

In [20]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

Если задать последовательность столбцов, то столбцы DataFrame расположатся строго в указанном порядке:

In [21]:
pd.DataFrame(data, columns=['year', 'state', 'pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

Если запросить столбец, которого нет в data, то он будет
заполнен значениями NaN:

In [22]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                      index=['one', 'two', 'three', 'four','five', 'six'])
print(frame2, '\n')
print(frame2.columns)

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

Index(['year', 'state', 'pop', 'debt'], dtype='object')

Столбец DataFrame можно извлечь как объект Series, воспользовавшись нотацией словарей, или с помощью атрибута.

In [23]:
print(frame2['state'], '\n')
print(frame2.year)

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object

one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

Строки также можно извлечь, для чего есть метод loc:

In [24]:
print(frame2.loc['three'])

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

Столбцы можно модифицировать путем присваивания. Например, пустому
столбцу 'debt' можно было бы присвоить скалярное значение или массив значений:

In [31]:
import numpy as np
frame2['debt'] = 16.5
print(frame2, '\n')
frame2['debt'] = [i for i in range(1,7)]
print(frame2)

       year   state  pop  debt
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5
six    2003  Nevada  3.2  16.5

       year   state  pop  debt
one    2000    Ohio  1.5     1
two    2001    Ohio  1.7     2
three  2002    Ohio  3.6     3
four   2001  Nevada  2.4     4
five   2002  Nevada  2.9     5
six    2003  Nevada  3.2     6

Когда столбцу присваивается список или массив, длина значения должна совпадать с длиной DataFrame. Если же присваивается объект Series, то он будет
точно согласован с индексом DataFrame, а в пустые места будут вставлены значения
NA:

In [ ]:
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt'] = val
print(frame2)

Присваивание несуществующему столбцу приводит к созданию нового столбца. Для удаления столбцов служит ключевое слово del, как и в обычном словаре:

In [ ]:
frame2['eastern'] = frame2.state == 'Ohio'
frame2

In [ ]:
del frame2['eastern']
print(frame2.columns, '\n')
print(frame2)

Еще одна распространенная форма данных – словарь словарей:

In [ ]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

Если передать его конструктору DataFrame, то ключи внешнего словаря будут интерпретированы как столбцы, а ключи внутреннего словаря – как индексы
строк:

In [ ]:
frame3 = pd.DataFrame(pop)
frame3

Разумеется, результат можно транспонировать:

In [ ]:
frame3.T

Словари объектов Series интерпретируются очень похоже:

In [ ]:
pdata = {'Ohio': frame3['Ohio'][:-1],
         'Nevada': frame3['Nevada'][:2]}
pd.DataFrame(pdata)

Если у объектов, возвращаемых при обращении к атрибутам index и columns
объекта DataFrame, установлен атрибут name, то он также выводится:

In [ ]:
frame3.index.name = 'year'; frame3.columns.name = 'state'
frame3

Как и в случае Series, атрибут values возвращает данные, хранящиеся в
DataFrame, в виде двумерного массива ndarray

In [ ]:
frame3.values

In [ ]:
frame2.values

### Индексные объекты

В индексных объектах pandas хранятся метки вдоль осей и прочие метаданные
(например, имена осей). Любой массив или иная последовательность меток, указанная при конструировании Series или DataFrame, преобразуется в объект Index:

In [ ]:
obj = pd.Series(range(3), index=['a', 'b', 'c'])
index = obj.index
print(index)
print(index[1:])

Индексные объекты неизменяемы, т. е. пользователь не может их модифицировать. Неизменяемость важна для того, чтобы несколько структур данных могли совместно использовать один и тот же индексный объект, не опасаясь его повредить:

In [ ]:
labels = pd.Index(np.arange(3))
print(labels, '\n')
obj2 = pd.Series([1.5, -2.5, 0], index=labels)
print(obj2,'\n')
print(obj2.index == labels, '\n')
print(obj2.index is labels)

У любого объекта Index есть ряд свойств и методов для ответа на типичные вопросы о хранящихся в нем данных. Они перечислены в официальной документации.

## Базовая функциональность

Рассмотрим фундаментальные основы взаимодействия с данными, хранящимися в объектах Series и DataFrame.

### Переиндексация

Для объектов pandas критически важен метод reindex, т. е. возможность создания нового объекта, данные в котором согласуются с новым индексом. Рассмотрим простой пример

In [ ]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

Если вызвать reindex для этого объекта Series, то данные будут реорганизованы в соответствии с новым индексом, а если каких-то из имеющихся в этом индексе значений раньше не было, то вместо них будут подставлены отсутствующие
значения

In [ ]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
obj2

Для упорядоченных данных, например временных рядов, иногда желательнпроизвести интерполяцию, или восполнение отсутствующих значений в процессе переиндексации. Это позволяет сделать параметр method; так, если задать для
него значение ffill, то будет произведено прямое восполнение значений. Если задать значение bfill, то будет произведено обратное восполнение значений.

In [ ]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
print(obj3,'\n')
obj3=obj3.reindex(range(6), method='ffill')
print(obj3)

В случае объекта DataFrame функция reindex может изменять строки, столбцы
или то и другое. Если ей передать просто последовательность, то в результирующем объекте переиндексируются строки

In [ ]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                     index=['a', 'c', 'd'],
                     columns=['Ohio', 'Texas', 'California'])
print(frame, '\n')
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
print(frame2)

Столбцы можно переиндексировать, задав ключевое слово columns. Список аргументов функции reindex можно посмотреть в оф. документации.

In [ ]:
states = ['Texas', 'Utah', 'California']
frame.reindex(columns=states)

### Удаление элементов из оси

Удалить один или несколько элементов из оси просто, если имеется индексный
массив или список, не содержащий этих значений. Метод drop возвращает новый
объект, в котором указанные значения удалены из оси:

In [ ]:
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
print(obj, '\n')
new_obj = obj.drop('c')
print(new_obj, '\n')
print(obj.drop(['d', 'c']))

В случае DataFrame указанные в индексе значения можно удалить из любой
оси:

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

In [ ]:
data.drop(['Colorado', 'Ohio'])

In [ ]:
data.drop('two', axis='columns')

In [ ]:
data.drop(['two', 'four'], axis='columns')

### Доступ по индексу, выборка и фильтрация

Доступ по индексу к объекту Series (obj[...]) работает так же, как для массивов NumPy с тем отличием, что индексами могут быть не только целые, но любые
значения из индекса объекта Series. Вот несколько примеров:

In [ ]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
print(obj,'\n')
print('obj[\'b\']=' , obj['b'],'\n')
print('obj[1]=',obj[1],'\n')
print(obj[2:4],'\n')
print(obj[['b', 'a', 'd']],'\n')
print(obj[[1, 3]],'\n')
print(obj[obj < 2])

Вырезание с помощью меток отличается от обычного вырезания в Python тем,
что конечная точка включается

In [ ]:
obj['b':'c']

Установка с помощью этих методов работает ожидаемым образом:

In [ ]:
obj['b':'c'] = 5
obj

Как мы уже видели, доступ по индексу к DataFrame применяется для извлечения одного или нескольких столбцов путем задания единственного значения или
последовательности

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
print(data,'\n')
print(data['two'], '\n')
print(data[['three', 'one']])

У доступа по индексу есть несколько частных случаев. Во-первых, выборка
строк с помощью вырезания или булева массива:

In [ ]:
print(data[:2],'\n')
print(data[data['three'] > 5])

Такой синтаксис может показаться непоследовательным, но он был выбран исключительно из практических соображений. Еще одна
возможность – доступ по индексу с помощью булева DataFrame, например порожденного в результате скалярного сравнения:

In [ ]:
print(data < 5,'\n')
data[data < 5] = 0
print(data)

Идея в том, чтобы сделать DataFrame синтаксически более похожим на ndarray
в данном частном случае. Таким образом, существует много способов выборки и реорганизации данных,
содержащихся в объекте pandas. Все существующие методы и варинты доступа по индексам можно найти в оф. документации.

### Арифметические операции и выравнивание данных

Одна из важных черт pandas – поведение арифметических операций для
объектов с разными индексами. Если при сложении двух объектов обнаруживаются различные пары индексов, 
то результирующий индекс будет объединением
индексов. Рассмотрим простой пример:

In [ ]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1],
               index=['a', 'c', 'e', 'f', 'g'])
s1

In [ ]:
s2

Сложение этих объектов дает:

In [ ]:
s1 + s2

Вследствие внутреннего выравнивания данных образуются отсутствующие
значения в позициях, для которых не нашлось соответственной пары. Отсутствующие значения распространяются на последующие операции.
В случае DataFrame выравнивание производится как для строк, так и для столбцов:

In [ ]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'),
                   index=['Ohio', 'Texas', 'Colorado'])
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
                   index=['Utah', 'Ohio', 'Texas', 'Oregon'])
df1

In [ ]:
df2

При сложении этих объектов получается DataFrame, индекс и столбцы которого являются объединениями индексов и столбцов слагаемых:

In [ ]:
df1 + df2

#### Операции между DataFrame и Series

Как и в случае массивов NumPy, арифметические операции между DataFrame
и Series корректно определены. В качестве пояснительного примера рассмотрим
вычисление разности между двумерным массивом и одной из его строк:

In [ ]:
arr = np.arange(12.).reshape((3, 4))
print(arr, '\n')
print(arr[0], '\n')
print(arr - arr[0])

Операции
между DataFrame и Series аналогичны:

In [ ]:
frame = pd.DataFrame(np.arange(12.).reshape((4, 3)),
                     columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
series = frame.iloc[0]
print(frame, '\n')
print(series)

По умолчанию при выполнении арифметических операций между DataFrame
и Series индекс Series сопоставляется со столбцами DataFrame, а укладываются
строки:

In [ ]:
print(frame - series)

Если какой-нибудь индекс не найден либо в столбцах DataFrame, либо в индексе Series, то объекты переиндексируются для образования объединения:

In [ ]:
series2 = pd.Series(range(3), index=['b', 'e', 'f'])
print(series2, '\n')
frame + series2

Если вы хотите вместо этого сопоставлять строки, а укладывать столбцы, то
должны будете воспользоваться каким-нибудь арифметическим методом. Например

In [ ]:
series3 = frame['d']
print(frame,'\n')
print(series3,'\n')
frame.sub(series3, axis='index')

### Сортировка и ранжирование

Сортировка набора данных по некоторому критерию – еще одна важная встроенная операция. Для лексикографической сортировки по индексу служит метод
sort_index, который возвращает новый отсортированный объект:

In [ ]:
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
obj.sort_index()

В случае DataFrame можно сортировать по индексу, ассоциированному с любой
осью:

In [ ]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                     index=['three', 'one'],
                     columns=['d', 'a', 'b', 'c'])
frame.sort_index()

In [ ]:
frame.sort_index(axis=1)

По умолчанию данные сортируются в порядке возрастания, но можно отсортировать их и в порядке убывания

In [ ]:
frame.sort_index(axis=1, ascending=False)

Для сортировки Series по значениям служит метод order:

In [ ]:
obj = pd.Series([4, 7, -3, 2])
obj.sort_values()

Отсутствующие значения по умолчанию оказываются в конце Series:

In [ ]:
obj = pd.Series([4, np.nan, 7, np.nan, -3, 2])
obj.sort_values()

Объект DataFrame можно сортировать по значениям в одном или нескольких
столбцах. Для этого имена столбцов следует передать в качестве значения параметра by

In [ ]:
frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame

In [ ]:
frame.sort_values(by='b')

Для сортировки по нескольким столбцам следует передать список имен

In [ ]:
frame.sort_values(by=['a', 'b'])

Ранжирование тесно связано с сортировкой, заключается оно в присваивании
рангов – от единицы до числа присутствующих в массиве элементов. Это аналогично косвенным индексам, порождаемым методом numpy.argsort, с тем отличием, что существует правило обработки связанных рангов. Для ранжирования
применяется метод rank объектов Series и DataFrame; по умолчанию rank обрабатывает связанные ранги, присваивая каждой группе средний ранг:

In [ ]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
obj.rank()

Ранги можно также присваивать в соответствии с порядком появления в данных:

In [ ]:
obj.rank(method='first')

DataFrame
умеет вычислять ранги как по строкам, так и по столбцам

In [ ]:
frame = pd.DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1],
                      'c': [-2, 5, 8, -2.5]})
frame

In [ ]:
frame.rank(axis='columns')

In [ ]:
frame.rank(axis='rows')

### Индексы по осям с повторяющимися значениями

Во всех рассмотренных до сих пор примерах метки на осях (значения индекса)
были уникальны. Хотя для многих функций pandas (например, reindex) требуется уникальность меток, в общем случае это необязательно. Рассмотрим небольшой объект Series с повторяющимися значениями в индексе

In [ ]:
obj = pd.Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
obj

О том, являются значения уникальными или нет, можно узнать, опросив свойство is_unique:

In [ ]:
obj.index.is_unique

Выборка данных – одна из основных операций, поведение которых меняется
в зависимости от наличия или отсутствия дубликатов. При доступе по индексу,
встречающемуся несколько раз, возвращается объект Series; если же индекс одиночный, то скалярное значение

In [ ]:
obj['a']

In [ ]:
obj['c']

Такое же правило действует и для доступа к строкам в DataFrame:

In [ ]:
df = pd.DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
df

In [ ]:
df.loc['b']

## Редукция и вычисление описательных статистик

Объекты pandas оснащены набором стандартных математических и статистических методов. Большая их часть попадает в категорию редукций, или сводных статистик – методов, которые вычисляют единственное значение (например, сумму
или среднее) для Series или объект Series – для строк либо столбцов DataFrame.
По сравнению с эквивалентными методами массивов NumPy, все они игнорируют
отсутствующие значения. Рассмотрим небольшой объект DataFrame

In [ ]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])
df

Метод sum объекта DataFrame возвращает Series, содержащий суммы по столбцам:

In [ ]:
df.sum()

Если передать параметр  то суммирование будет производиться по строкам:

In [ ]:
df.sum(axis='columns')

Отсутствующие значения исключаются, если только не является отсутствующим весь срез (в данном случае строка или столбец). Это можно подавить, задав
параметр skipna

In [ ]:
df.mean(axis='columns', skipna=False)

Некоторые методы, например idxmin и idxmax, возвращают косвенные статистики, скажем, индекс, при котором достигается минимум или максимум

In [ ]:
df.idxmax()

Есть также аккумулирующие методы

In [ ]:
df.cumsum()

Наконец, существуют методы, не относящиеся ни к редуцирующим, ни к аккумулирующим. Примером может служить метод describe, который возвращает
несколько сводных статистик за одно обращение

In [ ]:
df.describe()

В случае нечисловых данных describe возвращает другие сводные статистики

In [ ]:
obj = pd.Series(['a', 'a', 'b', 'c'] * 4)
obj.describe()

Полный список сводных статистик и родственных методов приведен в оф. документации.

### Уникальные значения, счетчики значений и членство

Еще один класс методов служит для извлечения информации о значениях, хранящихся в одномерном объекте Series. Для иллюстрации рассмотрим пример

In [ ]:
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
obj

Метод unique возвращает массив уникальных значений в Series:

In [ ]:
uniques = obj.unique()
uniques

Уникальные значения необязательно возвращаются в отсортированном порядке, но могут быть отсортированы впоследствии, если это необходимо (uniques.
sort()). Метод value_counts вычисляет объект Series, содержащий частоты встречаемости значений

In [ ]:
obj.value_counts()

Метод isin вычисляет булев вектор членства в множестве и может
быть полезен для фильтрации набора данных относительно подмножества значений в объекте Series или столбце DataFrame

In [ ]:
print(obj,'\n')
mask = obj.isin(['b', 'c'])
print(mask,'\n')
print(obj[mask])